@import "../../../../visual/visual";

:host {
  position: fixed;
  width: 100%;

  .header {
    height: $header-height;
    padding: $offset-12px $offset-20px;
    box-sizing: border-box;

    &_logo {
      height: 36px;
      filter: invert(17%) sepia(9%) saturate(0%) hue-rotate(290deg) brightness(103%) contrast(93%);
      transition: all 0.25s ease-in-out;
      &:hover {
        scale: 1.1;
        cursor: pointer;
        filter: invert(81%) sepia(14%) saturate(0%) hue-rotate(255deg) brightness(94%) contrast(72%);
        animation: rotation 20s linear infinite;
      }
    }
  }
}
