@import "../../../visual/visual.scss";

:host {
  width: 100%;

  .calculator {
    @include flex(column, flex-start, space-between);
    width: 100%;

    &__form {
      @include flex(row, center, space-between);
      width: 100%;
      margin-bottom: $offset-12px;

      &__from {
        @include flex(row, center, flex-start);

        &_flag {
          height: 30px;
          margin-left: $offset-12px;
        }
      }

      &_switcher {
        margin: 0 $offset-20px;
        filter: invert(81%) sepia(14%) saturate(0%) hue-rotate(255deg) brightness(94%) contrast(72%);
        transition: all 0.25s ease-in-out;
        &:hover {
          cursor: pointer;
          filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(205deg) brightness(108%) contrast(102%);
        }
      }

      &__to {
        @include flex(row, center, flex-start);

        &_flag {
          height: 30px;
          margin-right: $offset-12px;
        }
      }
    }

    &__currency-info {
      &_message {
        font-size: $font-size-32px;
        color: $color-white-default;
      }
    }

    &__additional {
      width: 50%;
      margin-top: $offset-40px;
      &_message {
        color: $color-whitesmoke;
        font-size: $font-size-18px;
        a {
          color: gray;
          text-decoration: underline;
        }
      }
    }
  }
}
