@import "../styles/colors";
@import "../styles/offsets";
@import "../styles/font-sizes";

.input {
  padding: 0 $offset-12px;
  margin: 0;
  height: 60px;
  box-sizing: border-box;
  border: 0 solid $color-red-grey;
  border-radius: 4px 0 0 4px;
  outline: none;
  background-color: $color-whitesmoke;
  font-size: $font-size-16px;
}
