<section class="dashboard">
  <div class="dashboard__text">
    <h1 class="dashboard__text_title">Конвертер валют</h1>
    <p class="dashboard__text_subtitle">
      Эффективный инструмент для расчета курса валют. Получите точные результаты обмена за считанные секунды
    </p>
    <button class="button-primary dashboard__text_btn" routerLink="/calculator">Рассчитать</button>
  </div>
  <div class="dashboard__img-wrapper">
    <img class="dashboard__img-wrapper_img" src="assets/icons/logos/logo.svg" alt="Currency image">
  </div>
</section>
