@import "styles/@styles";
@import "animations/@animations";
@import "mixins/@mixins";
@import "components/@components.scss";
@import "dimensions/@dimentions";

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgba(18,18,18,0.9);
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100dvh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/backgrounds/background.png");
  background-size: 100% 100%;
  font-family: 'Segoe UI', serif;
}

a {
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}

a, button {
  :hover {
    cursor: pointer;
  }
}

::view-transition-old(root) {
  animation: exit 1s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
  animation: enter 1s ease 0s 1 normal forwards;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
