$font-size-8px: 0.5em;
$font-size-9px: 0.563em;
$font-size-10px: 0.625em;
$font-size-11px: 0.688em;
$font-size-12px: 0.75em;
$font-size-13px: 0.813em;
$font-size-14px: 0.875em;
$font-size-15px: 0.938em;
$font-size-16px: 1em;
$font-size-17px: 1.063em;
$font-size-18px: 1.125em;
$font-size-19px: 1.188em;
$font-size-20px: 1.25em;
$font-size-21px: 1.313em;
$font-size-22px: 1.375em;
$font-size-23px: 1.438em;
$font-size-24px: 1.5em;
$font-size-25px: 1.563em;
$font-size-26px: 1.625em;
$font-size-27px: 1.688em;
$font-size-28px: 1.75em;
$font-size-29px: 1.813em;
$font-size-30px: 1.875em;
$font-size-31px: 1.938em;
$font-size-32px: 2em;
$font-size-39px: 2.438em;
$font-size-49px: 3.062em;
$font-size-61px: 3.812em;
$font-size-65px: 4.0625em;
$font-size-160px: 10em;
