$offset-1px: 1px;
$offset-2px: 2px;
$offset-4px: 4px;
$offset-8px: 8px;
$offset-12px: 12px;
$offset-16px: 16px;
$offset-20px: 20px;
$offset-24px: 24px;
$offset-28px: 28px;
$offset-32px: 32px;
$offset-36px: 36px;
$offset-40px: 40px;
$offset-44px: 44px;
$offset-48px: 48px;
$offset-52px: 52px;
$offset-56px: 56px;
$offset-60px: 60px;
$offset-100px: 100px;
